.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
}

.App-logo.Travail{
  animation: Logo-rotate infinite 5s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 50px;
}

.App-intro {
  font-size: large;
}

.Homer-button button{
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  background-color: rgb(152, 36, 156);
  color: rgb(255, 255, 255);
  margin: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

@keyframes Logo-rotate {
  from { transform: rotateX(0deg) rotateY(-180deg); }
  to { transform: rotateX(1080deg) rotateY(180deg); }
}